<div class="flex flex-col min-h-screen">
  <div class="flex-grow">
    <% content_for :nav_button do %>
      <%= button_to categories_path, method: :get, class: "text-white px-4 py-2 rounded mt-0" do %>
        Categories
      <% end %>
    <% end %>

    <div class="mt-5 space-y-4">
    <% if @categories.present? %>
      <% @categories.each do |category| %>
        <div class="bg-white shadow-lg rounded-lg flex items-center px-2 py-2">
          <div class="w-1/2 h-20">
            <%= image_tag category.icon %>
          </div>
          <div class="flex flex-row justify-between items-center w-1/2">
            <%= link_to category.name, category_transaction_entries_path(category), class: "nav-link justify-start" %>
            <span class="justify-end">$<%= category.transaction_entries.sum(:amount) %></span>
          </div> 
        </div>
      <% end %>
    <% else %>
      <h1 class="flex justify-center text-3xl font-bold">No categories found.</h1>
    <% end %>
  </div>
  </div>

  <% content_for :footer do %>
    <div class="bg-lime-400 fixed bottom-0 left-0 w-full px-2 py-2">
      <div class="border border-white">
        <%= button_to "Add Category", new_category_path, method: :get, class: "px-2 py-2 text-white font-bold w-full" %>
      </div>
    </div>
  <% end %>
</div>
