<div class="mx-auto px-4 flex items-center justify-center align-items-center">
<% content_for :back_path, root_path %>
<% content_for :page_name, "CREATE CATEGORIES" %>
<% content_for :nav_button do %>
  <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link text-white" %>
<% end %>

<%= form_with model: @group do |form| %>
  <div class="p-4 flex justify-center mt-5 gap-5">
  <div>
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control", placeholder: "Category name", required: true %>
   </div>

  <div>
    <%= form.label :icon, class: "form-label" %>
    <%= form.text_field :icon, class: "form-control", placeholder: "Icon link", required: true, pattern: "^(http|https)://[a-zA-Z0-9\-\.]+\.[a-zA-Z]{2,}(\/.*)?$" %>
  </div>

  <div>
    <%= form.submit "Create", class: "btn btn-style btn-lg bg-blue-500 text-white px-4 py-2 rounded" %>
  </div>
</div>
<% end %>
</div>
